html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

::selection {
  background: #b3d4fc;
  box-sizing: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a:active,
a:hover {
  outline: 0;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

:root {
  --font-light: #f7f7f7;
}

.slider_link-left:hover,
.slider_link-right:hover {
  position: relative;
  transition: transform 0.3s ease;
  vertical-align: middle;
  stroke: hsl(120, 29%, 50%);
}

.slider_link-left:hover {
  left: 3px;
}
.slider_link-right:hover {
  right: -3px;
}
.background {
  min-height: 100vh;
  height: 780px;
  background-color: #02160b;
  background: url(assets/img/intro-bg.jpg) no-repeat center;
  background-size: cover;
}

.page__wrapper {
  width: 100%;
  background-color: #cccccc;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.content__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.articles__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.articles__card {
  position: relative;
}

.articles__card-title {
  position: absolute;
  font-size: 22px;
  line-height: 164%;
  color: #ffffff(--font-light);
}

.articles__card-pic {
  width: 100%;
  height: 360px;
  object-fit: cover;
  transition: 0.2s all;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.deer-title {
  bottom: 76px;
  left: 128px;
}

svg:not(:root) {
  overflow: hidden;
}

.get-notified__title {
  font-size: 27px;
  line-height: 150%;
  margin-bottom: 59px;
  color: #333333;
}
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.search-form__field {
  width: 540px;
  height: 60px;
  background: transparent;
  border: 1px solid #666666;
  border-right: 0;
  font-family: "Roboto";
  font-size: 23px;
  line-height: 27px;
  color: #666666;
  padding-left: 15px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-form__submit {
  width: 120px;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-transform: capitalize;
  background: #cd6326;
  border: #cd6326;
  border-radius: 0px, 5px, 5px, 0px;
  font-family: "Roboto";
  font-size: 23px;
  line-height: 27px;
  color: #ffffff var(--font-light);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}

.footer {
  min-height: 360px;
  background-color: #181617;
  background: url(assets/img/footer-bp.jpg) no-repeat centrer;
  background-size: cover;
}

.footer__wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
