%logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  color: #F7F7F7;
  margin-left: 15px;
}

%menu-ui {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #F7F7F7;
}

%regular-ui {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;

  color: #F7F7F7;
}

%regular-light {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #F7F7F7;
}

%small-light {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #F7F7F7;
}

%h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
}

%heading-sm {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
}

%hover-effect {
  cursor: pointer;
  transform: scale(1.1);
}

%hover-effect-btn {
  cursor: pointer;
  background-color: #E39128;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #CCCCCC;
}


.wrapper {
  margin: 0 auto;
  width: 1200px;
}

a {
  color: #F7F7F7;
  text-decoration: none;
}

header {

  .wrapper {
	display: flex;
	justify-content: space-between;

	.logo {
	  display: flex;
	  position: absolute;
	  top: 20px;

	  h1 {
		@extend %logo;
	  }
	}

	nav {
	  position: absolute;
	  top: 20px;
	  margin-left: 718px;

	  ul {
		display: flex;
		list-style-type: none;

		li {
		  @extend %menu-ui;

		  &:hover {
			@extend %hover-effect
		  }

		  a {
			button {
			  border: 2px solid #CD6326;
			  box-sizing: border-box;
			  border-radius: 5px;

			  @extend %regular-ui;

			  line-height: 29px;
			  padding: 9px 23px;
			  background-color: transparent;

			  &:hover {
				@extend %hover-effect-btn;
			  }
			}
		  }

		  &:nth-child(-n+3) {
			margin-right: 66px;
		  }

		  &:nth-child(3) {
			a {
			  vertical-align: middle;
			}
		  }
		}
	  }
	}
  }
}

main {
  .survival {
	height: 580px;
	background-image: url("../img/background.jpg");
	background-size: cover;
	padding-top: 199px;

	.wrapper {
	  h2 {
		@extend %h2;

		letter-spacing: 2px;
		color: #CD6326;
	  }

	  p {
		@extend %regular-light;

		width: 280px;
		margin-top: 51px;
	  }

	  button {
		@extend %regular-ui;

		background: #CD6326;
		border-radius: 5px;
		padding: 16px 42px;
		outline: none;
		border: none;

		margin-top: 49px;

		&:hover {
		  @extend %hover-effect-btn;
		}
	  }
	}
  }

  .latest_articles {
	margin-top: 121px;

	h2 {
	  @extend %h2;

	  text-align: center;
	  color: #333333;
	}

	h3 {
	  @extend %heading-sm;

	  font-size: 24px;
	  color: #666666;
	  margin-top: 20px;
	}

	.carousel {
	  margin-top: 120px;

	  .carousel__items__list {
		display: flex;
		justify-content: space-between;

		.carousel__items__ctrl {
		  display: flex;
		  flex-direction: column;
		  justify-content: center;

		  svg:hover {
			@extend %hover-effect
		  }
		}

		.carousel__item {
		  width: 300px;
		  height: 360px;

		  &:nth-child(2) {
			background-image: url("../img/deer.jpg");
		  }

		  &:nth-child(3) {
			background-image: url("../img/squirell.jpg");
		  }

		  &:nth-child(4) {
			background-image: url("../img/bird.jpg");
		  }

		  .carousel__item__description {
			position: relative;
			top: 247px;

			h4 {
			  @extend %heading-sm;

			  font-size: 22px;
			  line-height: 36px;
			  color: #F7F7F7;
			}

			p {
			  @extend %small-light;
			  text-align: center;
			  margin-top: 10px;
			}
		  }
		}
	  }
	}
  }

  .get__notified {
	margin-top: 240px;

	h3 {
	  @extend %heading-sm;
	  font-size: 27px;
	  line-height: 40px;
	  color: #333333;
	  margin-bottom: 59px;
	}

	form {
	  display: flex;
	  justify-content: center;

	  input:first-child {
		@extend %regular-ui;
		width: 524px;
		height: 60px;
		background-color: transparent;
		outline: none;
		border: 1px solid #666666;
		border-right: none;
		color: #666666;
		padding-left: 16px;
	  }

	  input::-webkit-input-placeholder {
		color: #666666;
	  }

	  input:last-child {
		@extend %regular-ui;
		background: #CD6326;
		border: 1px solid #CD6326;
		border-radius: 0px 5px 5px 0px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #F7F7F7;
		width: 123px;
		height: 62px;
		padding-left: 33px;
	  }
	}
  }
}

footer {
  margin-top: 239px;
  height: 360px;
  background-image: url("../img/bg-footer.jpg");
  background-size: cover;

	.wrapper {
	  display: flex;
	  justify-content: space-between;
	  padding-top: 150px;

	  .logo {
		display: flex;

		p {
		  @extend %logo;
		}
	  }

	  .menu {
		display: flex;
		list-style-type: none;


		li {
		  @extend %menu-ui;

		  &:hover {
			@extend %hover-effect
		  }

		  &:first-child {
			margin-left: 15px;
		  }

		  &:nth-child(2) {
			margin-left: 87px;
		  }

		  &:last-child {
			margin-left: 90px;
		  }
		}
	  }

	  .social {
		display: flex;
		list-style-type: none;


		li {
		  margin-top: 10px;

		  &:hover {
			@extend %hover-effect
		  }

		  a {
			vertical-align: middle;
		  }

		  &:nth-child(-n+3) {
			margin-right: 27px;
		  }
		}

	  }
	}
}