body {
  background-color: 5f5f5f;
  font-size: 14px;
  font-family: "Heebo";
  min-width: 320px;
  max-width: 1920px;
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}

._container {
  max-width: ;
}
