/*Подключение файла стилей при  
определенных условиях
@import url(color.css) screen and(color);
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  /* min-width: 1200px */
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.header {
  background-color: #5e5373;
}

.header__row {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.hider__logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ece89d;
}

.header__menu {
}

.menu {
}
.menu_icon {
}
.menu__body {
}

.menu__list {
  display: flex;
}
.menu__list.li {
  list-style: none;
  margin: 0px 0px 0px 15px;
}

.menu__link {
  height: 20px;
  width: 100px;
  background-color: #ece89d;
  display: block;
}

.icon-menu {
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    position: relative;
    z-index: 3;
  }
  .icon-menu span {
    position: absolute;
    background-color: #ece89d;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 11px;
  }
  .icon_menu:before,
  .icon-menu:after {
    content: "";
    background-color: #ece89d;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .icon-menu:before {
    top: 0;
  }
  .icon-menu:after {
    bottom: 0;
  }

  .icon-menu.active span {
    transform: scale(0);
  }

  .icon-menu.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .icon-menu.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}

.three-block {
  margin: 0px 0px 30px 0px;
}

.three-block__title {
  font-size: 50px;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 992px) {
  .three-block__title {
    font-size: 40px;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .three-block__title {
    font-size: 30px;
    margin: 0px 0px 15px 0px;
  }
}

.three-block__row {
  display: flex;
  margin: 0px -15px;
}

.three-block__column {
  flex: 0 1 33.333%;
  padding: 0px 15px;
}
.three-block__item {
  background-color: #18b5a4;
  padding: 15px;
}
.three-block__image {
  padding: 0px 0px 58% 0px;
  background-color: #ece89d;
  margin-bottom: 10px;
}

.three-block__image img {
  max-width: 100%;
}
.three-block_text {
  color: #fff;
  line-height: 25px;
}
.two-block {
  margin: 0px 0px 30px 0px;
}

.two-block__title {
  font-size: 50px;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 992px) {
  .two-block__title {
    font-size: 40px;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .two-block__title {
    font-size: 30px;
    margin: 0px 0px 15px 0px;
  }
}

.two-block__row {
  display: flex;
  margin: 0px -15px;
}
.two-block__column {
  flex: 0 1 50%;
  padding: 0px 15px;
}

.two-block__item {
  background-color: #18b5a4;
  padding: 15px;
}

.two-block__image {
  min-height: 20px;
  padding: 0px 0px 0% 0px;
  background-color: #ece89d;
  margin-bottom: 10px;
}
.two-block__image img {
  max-width: 100%;
  object-fit: cover;
}
.two-block_text {
  color: #fff;
  line-height: 25px;
}
.page {
  flex: 1 1 auto;
  padding: 30px 0;
}

.footer {
  background-color: #5e5373;
  text-align: center;
}
